{# templates/emails/registration.html.twig #}

<h3>Welcome to Valorant and More {{ username }} !</h3>

<p>Please click <a href="https://valorantandmore.com/{{ username }}/{{ id }}/activate/">here</a> to activate your account or follow this link : https://valorantandmore.com/{{ username }}/{{ id }}/activate/.</p>

{# example, assuming you have a route named "login" #}
{#<p>To login, go to: <a href="">...</a>.</p>#}

<p>Have Fun on Valorant And More ! </p>
