{% extends 'basefind.html.twig' %}

{% set Agents = ['Sage','Omen','Viper','Sova','Phoenix','Brimstone','Cypher','Breach','Jett','Raze'] %}

{% block container_seek %}
<div id="particles-js"></div>
<style>
    .txt_teams_solo {
        display: flex;
        align-items: center;
        width: 100%;
    }

    .team_desc_little{
        display: flex;
        width: 100%;
        justify-content: space-between; 
    }
</style>
<div class="container_seek_filters">

  <div class="filters_block">

    <h1 class="h1_section_filters">{%  trans %} team {% endtrans %}</h1>
  
    <div class="plains_filters">

      <div class="nbrentries">{%  trans %} announcesplayers {% endtrans %} : <span class="countannounces">{{ Allteams | length }}</span></div>

      <div class="filters_txt">{%  trans %} filters {% endtrans %}</div>

      <div class="showall" onclick="ShowAll(), count()">{%  trans %} showall {% endtrans %}</div>

      <div class="sortbydate" onclick="SortByDate()">{%  trans %} sortbydate {% endtrans %}</div>
      

    <div class="custom-select">
      <label for="">{%  trans %} availableslots {% endtrans %} : </label>
      <select name="slotsavailable" id="slotsavailable">
        <option value="all">{%  trans %} all {% endtrans %}</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
      </select>
    </div>

      <div class="sortbyname"><textarea maxlength="12" class="sortbyname_txtarea" placeholder="{%  trans %} searchbyteamname {% endtrans %}"></textarea></div>

      <div class="premium">
      <label class="container_checkbox">{%  trans %} onlypremium {% endtrans %}           
        <input type="checkbox" name="premium" class="premium_checkbox" id="">
        <span class="checkmark"></span>
      </label>
      </div>

    </div>    
    
    <div class="post_an_announce_from_announces">
      <span>{%  trans %} teamnotinthelist {% endtrans %} </span><a href="{{ path('profil_teams') }}" class="post_an_announce_from_announces_txt">{%  trans %} clickhere {% endtrans %}</a>
    </div>
  </div>

</div>
  {% endblock %}
  {% block container_seek_players %}
  
  <!-- <div id="particles-js"></div> -->
  <div class="container_seek">
     
      
      <div class="container_blocks_display">
      {% for Allteam in Allteams %}

      {% if Allteam.premiumstatus == '1' %}
        {% set premium = 1 %}
      {% else %}
        {% set premium = 0 %}
      {% endif %}
      

      <div class="total" onclick="getDetails()">
        <div onclick="" class="container_blocks_display_announces {{ premium }} {{Allteam.creator}} {{ Allteam.status }}" data-date="{{ Allteam.date |date('U') }}" data-title="{{ Allteam.title }}" data-premium="{{ premium }}" data-username="{{ Allteam.creator }}" data-name="{{ Allteam.name }}" data-logo="{{ Allteam.logo }}" data-mediumlevel="{{ Allteam.mediumlevel }}" data-member1="{{ Allteam.member1 }}" data-member2="{{ Allteam.member2 }}" data-member3="{{ Allteam.member3 }}" data-member4="" data-availableslots="{{ Allteam.availableslots }}"> 
          
                 
  
          {% if Allteam.status == "1" %}
            {% set statusdiv =  "div_online_announces_players" %}
            {% set statusdiv2 =  "online_announces_players" %}
  
          {% else %}
            {% set statusdiv =  "div_offline_announces_players" %}
            {% set statusdiv2 =  "offline_announces_players" %}
          {% endif %}
          <div class="{{ statusdiv }}"><div class="{{ statusdiv2 }}" src="https://placehold.it/40x40"></div></div>
            
            <div class="txt_teams_solo">
                <div style="width: 50%;display: flex;
                flex-direction: column;">
                    <span >{{Allteam.name}}</span>
                    <span >(leader - {{Allteam.creator}})</span>
                </div>

                <span class="quarter"><img class="avatar_announces_player avatar_announces_player{{premium}}" src="{{ asset('images/teams_logo/'~Allteam.logo) }}"></span>
                <span class="quarter">{{Allteam.mediumlevel}}</span>
                <span>{{Allteam.availableslots}} {%  trans %} availableslots {% endtrans %}</span> 

              <div class="date_solo_announce">
                  {{ Allteam.date |date('d/m/Y H:i') }} 
              </div>
  
            </div>

          
             
        </div>
  

  
      </div>
  
      
  
      {% endfor %}
  
      </div>
      <div class="footerplayers">
        <p class="copyright">Software & Galipettes © - 2020</p>
    </div>

  
  {% endblock %}

  {% block script %}
  <script>

    

    function FilterSlot(slots) {
      $( ".container_blocks_display" ).show();
      $( ".container_blocks_display" ).each(function( ) {

        if (!$( this ).hasClass(slots) && !$( this ).hasClass("selected_slot")){
          $( this ).toggle();
          console.log("true");

        }
        else if ($( this ).hasClass(slots) && $( this ).hasClass("selected_slot")){
          $( this ).hide();
          $( this ).removeClass("selected_slot");
          $("#"+slots).removeClass("selected_slot");
        }
        else {
          $( this ).addClass("selected_slot");
          $("#"+slots).addClass("selected_slot");
        }
      });

      if(!$('.slots').hasClass("selected_slot")){
        $( ".container_blocks_display_announces" ).show();
        $(".slots").removeClass("selected_slot");
      }
    }

    function count () {
      var CountAnnounces = $('div.container_blocks_display_announces:visible').length;
      $('.countannounces').html(CountAnnounces);
  
      $('.countannounces').each(function () {
        $(this).prop('Counter',$('.countannounces').html(CountAnnounces)).animate({
            Counter: $(this).text()
        }, {
            duration: 1000,
            easing: 'swing',
            step: function (now) {
                $(this).text(Math.ceil(now));
            }
        });
    }); 
  
    }
    count();
  
  

    $( ".sortbyname_txtarea" ).keyup(function() {

      if("."+$(this).val().length > 0){
        $('.container_blocks_display_announces[data-name*="'+$(this).val()+'" i]').show();
        $('.container_blocks_display_announces:not([data-name*="'+$(this).val()+'" i])').hide()
        count ();
      }
      else {
           $('.container_blocks_display_announces').show();
           count (); 
      }
    })

    $(document).on('click', '.crossdesc', function() {
      $('.announce_desc').animate({'height':'0vh'},700);
      setTimeout(function(){
        $('.announce_desc').remove();
      },630)
      
  }) ;
  
      $('.container_blocks_display_announces').click(function(){
        
        if (jQuery.type( $('.announce_desc').css('height')) == 'undefined') {
          $(this).after('<div class="announce_desc"><div class="team_desc_little"><div ><p class="announce_desc_name">'+$(this).attr('data-name')+'</p><p class="announce_desc_title">'+$(this).attr('data-title')+'</p><p class="announce_desc_username">'+$(this).attr('data-username')+'</p><p class="announce_desc_level">'+$(this).attr('data-mediumlevel')+'</p></div><div class="team_members"><p>Members : </p><p class="team_member1">'+$(this).attr('data-member1')+'</p><p class="team_member2">'+$(this).attr('data-member2')+'</p><p class="team_member3">'+$(this).attr('data-member3')+'</p><p class="team_member4">'+$(this).attr('data-member4')+'</p></div><img class="crossdesc" src="/images/menu_logos/cross.png" alt=""> </div></div>')
          $('.announce_desc').animate({'height':'20vh'},400);
  
        }
  
        else {
          $('.announce_desc').animate({'height':'0vh'},400);
          setTimeout(function(){
            $('.announce_desc').remove();
          },330)
  
        }
  
      })
   
    

    function ShowAll(){
      $( ".container_blocks_display_announces, .see_mail_andmore" ).show();
      $(".agent").removeClass("agent_selected");
      $( ".premium_checkbox, .online_checkbox" ).prop( "checked", false );
    }

    function SortByDate(){
      $('.container_blocks_display').append($('.container_blocks_display').find('.total').get().reverse());
    }

  $(document).ready( function () {
    var agents = ['Sage','Omen','Viper','Sova','Phoenix','Brimstone','Cypher','Breach','Jett','Raze'];

    $.each( agents, function( key, agent ) {
      if(!$('.container_blocks_display_announces').hasClass(agent)){
        $('#'+agent).css('pointer-events','none');
        $('#'+agent).css('opacity','0.2');
        $('#'+agent).css('filter','grayscale(1)');
      }
    });


} );


$('#slotsavailable').change(
  function(){
    
    var availableslots = $(this).val();
    $('.container_blocks_display_announces').each(function(){
      if(availableslots === "all"){
        $('.container_blocks_display_announces').show();
      }
      else if ($(this).attr('data-availableslots') !== availableslots) {
        $(this).hide();
      }
      else {
        $(this).show();
      }

     
    })
    count()
})

$(".premium_checkbox").change(function() {
  if(this.checked) {
      $(".0").hide()
  }
  else {

      $(".0").show()
    }
  
    count()
});
  
  </script>

  <script src="{{asset('js/particlesconfig.js')}}"></script>
{% endblock %}

